@media only screen and (max-width: 600px) {
    body {
        background-color: lightskyblue;
    }
}

body{
    background-color: FFA500;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

#navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#options{
   display: block;
   padding: 8px 8px;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    
}
h1{
   font-size: 32px; 
}

#projects{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
#project-title{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    margin: 8px;
    padding: 8px 8px;
}

#Contact {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 8px;
    padding: 8px 8px;

}

ul{
    list-style-type: none;
    display: flex;
    margin: 8px;
    padding: 8px 8px;
}