html {
    box-sizing: border-box;
    font-size: 16px;
    background-color: whitesmoke;
    font-family: Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
    html {
        background-color: lightskyblue;
    }
}


/*navigation bar*/

.nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  background: #FFA500;
  z-index: 0;
}
.nav-options{
   display: flex;
   margin-left: 10px;
}
.nav-options a{
    display: block;
    font-size: 16px;
    padding: 15px;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: -1;
}
#welcome-photo {
    max-width: 30%;  
}
h1{
   font-size: 32px; 
}

h2{
    font-size: 26px;
}

.projects-section{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.project-tile {
    display: flex;
    justify-content: center;

}
.project-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    text-align: center;
}

.contact-section {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFA500
}
.Contacts{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contact-title {
    display: flex;
    justify-content: center;
}

.Contacts li {
    display: flex;
    flex: auto;
    justify-content: center;
    width: 100% 
}

ul{
    list-style-type: none;
    display: flex;
}
